@import "mixin.scss";
@import"variables.scss";
 
html{
    scroll-behavior:smooth ;
}

header{
    box-shadow: $box-shadow;
    height: 70px;
    text-align: center;
    @include dflex;
    @include align-items;
    .my-nav{
        width: 100%;
    }
    .my-navbar-row{
        align-items: center;
        
    }
    a{
        @include text-decoration;
        color: royalblue;
        @include titleFont(24px,bold)
    }
    ul{
        @include dflex;
        justify-content: space-evenly;
        margin: 10px auto;
    }
    ul li{
        @include list-style;
        position: relative;
    }
    .custom-menubar{
        a{
            margin-right: 15px;
            color: rgb(56, 86, 176);
            @include titleFont(16px ,small)
        }
    }
    .main-menu li {
        padding: 10px 0;
    }
    .sub-menu {
        position: absolute;
        top: 100%;
        padding: 0;
        left: 0;
        background: white;
        display: none;
        list-style: none;
        width: 200px;
        text-align: left;
        border: 1px solid rgba(221, 221, 221, 0.299);
        border-bottom: 0;
    }
    .sub-menu li {
        padding: 5px 15px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: .3s all;
    }
    .main-menu > li:hover .sub-menu {
        display: block;
    }
    .sub-menu li:hover {
        background: #ddd
    }

   
}
@media screen and (max-width:992px) {
      .main-menu{
          display: none;
      }  
      .custom-menubar .a1, .a2 {
          display: none;

      }
      
}

.first-section{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(https://www.nokia.com/sites/default/files/styles/scale_720_width/public/2022-04/nokia_pp_digital_21_720x540%20%281%29.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   .section-include{
      
        width: 800px;
        max-width: 100%;
        padding-right: 10px;
   }
            
    h2{
        font-size: 72px;
        color: $primaryfontcl;
    }
    .img-desc{
        p{
            @include titleFont(24px,lighter);
            color: $primaryfontcl;
        }
    }
    .img-button{
        button{
            background-color: royalblue;
            padding: 0 45px;
            height: 50px;
            display: inline-flex;
            align-items: center;
            outline: none;
            border: none;
            a{
                @include text-decoration;
                color: $primaryfontcl;
                
            }
        }
    }
}

.second-section{

    padding: 50px;
  
    .container{
        padding: 50px;
        width: 100%;
        height: 500px;
        background-image: url(https://www.nokia.com/sites/default/files/styles/scale_1920_width/public/2022-04/6940_Real%20Action%20Header_AF_V1Real%20Action%20-%201120x560%20NO%20TEXT%20%281%29.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    h2{
        @include titleFont(62px,bold);
        color: $primaryfontcl;
    }
    
    p{
        @include titleFont(24px,lighter);
        color: $primaryfontcl;
    }

    .button{
        button{
            padding: 0 45px;
            display: inline-flex;
            align-items: center;
            height: 50px;
            background-color: royalblue;
            outline: none;
            border: none;
            border-radius: 5px;
            color: $primaryfontcl;
            a{
                @include text-decoration;
                
            }
        }
    }
}
.third {
    width: 100%;
    background-image: url(https://www.nokia.com/sites/default/files/styles/m100_mobile/public/2022-03/Moon_nokia_lead_op1.jpg?h=f3e1135c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .third-inner-block {
        padding: 84px 96px;
        background: #2965ED;
        width: 700px;
        margin-top: 120px;
    }
    .third-inner-heading {
        color: white;
        font-size: 44px;
        font-weight: 600;
        line-height: 1.3;
    }
    .third-inner-button  {
        a{
            height: 50px;
            background-color: white;
            padding: 0 35px;
            outline: none;
            border: none;
            border-radius: 0;
            color: blue;
            text-decoration: none;
            display: inline-flex;
            text-align: center;
            margin-top: 30px;
            align-items: center;
        }
     
    }
}

.fourth{

    .container{
        .card-title{
            margin-bottom: 15px;
        }
        .card-desc{
            margin-top: 15px;
        }
    }
    
    .card-title{
        h3{
            @include titleFont(24px,bold)
        }
        p{
            @include titleFont(16px,lighter)
        }
    }

    .my-row{
       
        > div:hover{
            h3{
                color: #2965ED;
                text-decoration: underline;
                
            }
            img{
                transform: scale(1.1);
            }
        }
        .card-image{
            overflow: hidden;
            img{
             transition: 500ms all;
             object-fit: cover;
             width: 100%;
             height: 100%;
            }
        }
    }
}

footer{
    background-color: #001135;
    color: white;
    .row{
        justify-content: space-between;
        align-items: center;
    }

}
